body {
  margin: 0px 0px 0px 0px;
}

#canvas {
  border: 1px solid black;
  margin-top: 110px;
  margin-left: 10px;
  /*background-color: gray;*/
  background-image: url("background.png");
}

#statsbanner {
  display: block;
  position: fixed;
  width: 1280px;
  height: 100px;
  background-color: black;
  border: 1px solid black;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
}

.stats {
  margin-right: 100px;
  display: inline-block;
  font-size: 40px;
  font-family: Verdana;
  color: white;
}

.title {
    margin-left: 100px;
  display: inline-block;
  font-size: 40px;
  font-family: Verdana;
  color: white;
}

#dialog {
  pointer-events: none;
  display: block;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  font-size: 36px;
  margin-top: -250px;
  margin-left: 470px;
  border: 1px solid blue;
  padding: 10px;
  color: white;
  background: black;
}

#instructions {
  text-align: center;
  vertical-align: middle;
  width: 650px;
  height: 200px;
  margin-left: 300px;
}

