
p {
  color: green;
  font-size: 36px;
  text-align: center;
}

body {
  text-align: center;
  background-color: blue;
}

.headerfooter {
  border-radius: 10px;
}
.headerfooter p {
  color: red;
}

@media all and (min-width: 1240px) {
div {
  width: 100px;
  height: 100px;
  background-color: white;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
}

.headerfooter {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 70%;
}

#nav_div {
  display: inline-block;
  height: 400px;
  width: 20%;
}

#body_div {
  display: inline-block;
  height: 400px;
  width: 20%;

}

#side_div {
  display: inline-block;
  height: 300px;
  width: 20%;
  vertical-align: top;
}

}

@media all and (max-width: 980px) {
div {
  margin: 30px auto 30px auto;
  display: block;
  clear: both;
  width: 60%;
  height: 150px;
  background-color: white;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}
}